In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df=pd.read_csv('loan_approved.csv')

In [4]:
df.head(10)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved)
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
5,LP001011,Male,Yes,2,Graduate,Yes,5417,4196.0,267.0,360.0,1.0,Urban,Y
6,LP001013,Male,Yes,0,Not Graduate,No,2333,1516.0,95.0,360.0,1.0,Urban,Y
7,LP001014,Male,Yes,3+,Graduate,No,3036,2504.0,158.0,360.0,0.0,Semiurban,N
8,LP001018,Male,Yes,2,Graduate,No,4006,1526.0,168.0,360.0,1.0,Urban,Y
9,LP001020,Male,Yes,1,Graduate,No,12841,10968.0,349.0,360.0,1.0,Semiurban,N

In [5]:
df1=pd.get_dummies(df['Gender'],prefix='gen',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Gender'],axis=1)

In [6]:
df1=pd.get_dummies(df['Property_Area'],prefix='pa',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Property_Area'],axis=1)

In [7]:
df1=pd.get_dummies(df['Married'],prefix='ma',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Married'],axis=1)

In [8]:
df1=pd.get_dummies(df['Education'],prefix='edu',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Education'],axis=1)

In [9]:
df1=pd.get_dummies(df['Self_Employed'],prefix='se',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Self_Employed'],axis=1)

In [10]:
df1=pd.get_dummies(df['Loan_Status (Approved)'],prefix='lsa',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Loan_Status (Approved)'],axis=1)

In [11]:
df.shape

(614, 14)